.button-coffee {
    padding: 18px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff813f;
}

.button-coffee:hover {
    transition: 0.125s ease;
    text-decoration: none;
    color: #fff;
    background-color: #ffa676;
}

@media only screen and (max-width: 768px) {
    .button-coffee {
        width: fit-content;
        margin: 0 auto 16px;
        padding-top: 14px;
    }
}
