.input-search {
    width: 100%;
    height: 56px;
    font-size: 24px;
    border-radius: 16px;
    padding: 10px 0 0 16px;
    margin-bottom: 16px;
    border: 2px solid transparent;
    background-color: #202020;
    font-family: "Luckiest Guy", sans-serif;
    color: white;
}

.input-search:hover {
    background-color: #303030;
}

.input-select {
    width: 100%;
    height: 458px;
    font-size: 24px;
    margin-bottom: 16px;
    border: none;
    border-radius: 16px;
    background-color: transparent;
    font-family: "Luckiest Guy", sans-serif;
}

.input-select-option {
    width: 100%;
    height: 56px;
    padding: 14px 0 0 16px;
    background-color: transparent;
    color: white;
}

.input-select-option:checked {
    background-color: #FFFFFF25;
}

.input-select-option:hover {
    background-color: #FFFFFF25;
    transition: 0.125s ease;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .input-select {
        height: calc(100vh - 216px);
    }
}
